@use '../BaseStreamList/BaseStreamList.scss';
@use '@/styles/themes/base' as theme;
@use '@/styles/mixins' as mixins;

.stream-list {
  @include mixins.flex-column;
  background-color: var(--color-background-glass);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow: hidden;

  @include theme.mobile-only {
    border-radius: var(--border-radius-md);
  }
}
