@use '../BaseStreamList/BaseStreamList.scss';

.stream-manager-list {
  background-color: #00000040;
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
}

.stream-manager-item {
  .stream-list-item-actions {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover .stream-list-item-actions {
    opacity: 1;
  }
}
