VITE_READER_BEE_URL=https://rpc.swarmens.limo/read
VITE_WRITER_BEE_URL=https://rpc.swarmens.limo/write
VITE_STAMP=if bee is not accessed through gateway, stamp is needed

VITE_STREAM_STATE_OWNER=
VITE_STREAM_STATE_TOPIC=swarm-stream

VITE_CHAT_GSOC_RESOURCE_ID=
VITE_CHAT_GSOC_TOPIC=

VITE_STREAMER_GSOC_RESOURCE_ID=
VITE_STREAMER_GSOC_TOPIC=
