@use '@/styles/mixins' as mixins;

.button {
  @include mixins.button-base;
  box-shadow: var(--shadow-button);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: var(--color-text-primary);

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &.primary {
    @include mixins.button-primary;
    font-weight: var(--font-weight-bold);
  }

  &.secondary {
    @include mixins.button-secondary;
  }
}
