@use './_shared.scss' as shared;

.preview-field {
  @include shared.field-container;

  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.preview-value {
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
}

.preview-thumbnail {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 210px;
  width: 100%;
  aspect-ratio: 210 / 180; // Stream Browser item grid size
  overflow: hidden;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #000;
    display: block;
  }

  &-filename {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding: 8px 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
  }
}
