@use '@/styles/themes/base' as theme;
@use '@/styles/mixins' as mixins;

.message-sender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 84px; // fixed height for auto scroll

  .message-sender-input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-base);
    margin-top: auto;

    input {
      font-family: var(--font-family-base);
      font-size: var(--font-size-sm);
      color: var(--color-text-primary);
      width: 100%;
      height: 30px;
      background-color: var(--color-background-input);
      text-align: right;
      border: none;
      border-radius: var(--border-radius-base);
      outline: none;
      caret-color: var(--color-text-primary);
      box-sizing: border-box;
      padding: var(--spacing-xs);

      &::placeholder {
        color: var(--color-text-placeholder);
        text-align: right;
        margin-right: var(--spacing-sm);
      }
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      @include mixins.flex-center;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}

.message-sender-wrapper {
  @include mixins.flex-column;
  margin-top: auto;
}

.message-sender-sending {
  @include mixins.flex-center;
  padding: var(--spacing-base) 0;
}
