@use '../../styles/variables.scss' as *;

.stamp-dashboard {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  max-height: 100%;
  padding: 16px;
  padding-bottom: 6px;
  overflow: auto;
  width: 100%;
  margin-top: 100px;
  box-sizing: border-box;

  @media (min-width: $breakpoint-mobile) {
    max-width: 1400px;
    padding: 32px;
  }
}
