@use '@/styles/themes/base' as theme;
@use '@/styles/mixins' as mixins;

.stamp-dashboard {
  display: flex;
  margin: auto;
  height: 100%;
  max-height: 100%;
  padding: 0 var(--spacing-base);
  padding-bottom: var(--spacing-xs);
  overflow: hidden;
  width: 100%;

  @include theme.tablet-up {
    max-width: 1400px;
  }
}
