@use '@/styles/variables.scss' as *;

.stream-browser {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 16px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;

  @media (min-width: $breakpoint-mobile) {
    padding-top: 16px;
  }
}
