@use '@/styles/themes/base' as theme;
@use '@/styles/mixins' as mixins;

.stream-list-item {
  position: relative;
  width: fit-content;
  height: max-content;

  &-actions {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    display: flex;
    gap: var(--spacing-sm);
  }
}
